@model Soundbox.Models.PlaylistSongsViewModel

@{
    ViewData["Title"] = "Details";
}

    <div class="sideBar">
        <h4>@Html.DisplayFor(model => model.Playlist.Name)</h4>
        <hr />
        <div id="albumBox">
            <i id="albumIcon" class="fa fa-music fa-5x"></i>
        </div>
        <hr />
        <a asp-action="Add" asp-route-id="@Model.Playlist.Id" class="btn btn-success">Add new song</a>
        <hr />

    </div>

<div class="pageContent">
    <div>
        
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Album
                    </th>
                    <th>
                        Release Year
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Playlist.PlaylistSongs)
                {
                    <tr class="itemRow">
                        <td>
                            @Html.DisplayFor(modelItem => item.Song.Title)
                            <div>
                                <span class="actionLink">
                                    <a asp-controller="Songs" asp-action="Details" asp-route-id="@item.Song.Id">Details</a>
                                </span>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Song.Album)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Song.ReleaseYear)
                        </td>
                        <td>
                            
                            <form asp-action="Add" id="AddSongForm">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="PlaylistId" type="hidden" value="@Model.Playlist.Id" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <input asp-for="SongId" type="hidden" value="@item.Song.Id" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <button class="deleteButton">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <span class="actionLink">
            <a asp-action="Edit" asp-route-id="@Model.Playlist.Id">Edit</a>  |
        </span>
        <span class="actionLink">
        <a asp-action="Index">Back to List</a>
        </span>

    </div>
</div>


@section Scripts{ 
    <script>
        $("#AddSongButton").click(function(event) {
            $("#AddSongForm").submit();
        })
    </script>
}